.container {
  padding: 30px 0 40px 0;
  background-color: #ffffff;
}

.title {
  color: #4D4C59;	
  font-family: Poppins;	
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 70px;
}

.linkContainer {
  width: 100%;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.linkImg {
  width: 20%;
  text-align: left;
}

.linkName {
  width: 60%;
  text-align: left;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  width: 80%;
}

.sectionTitle {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.text {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.textStrong {
  font-weight: 600;
}

.textDisclaimer {
  color: #8B8C9A;	
  font-family: Poppins;	
  font-size: 14px;	
  font-weight: 400;	
  line-height: 27px;	
  text-align: justify;
  margin-top: 0;
  padding: 0 30px;

  span {
    font-weight: 500;	
  }
}

@media(max-width: 750px) {
  :global {
    .react-sanfona { 
      padding-left: 10px;
      padding-right: 10px;
    }

    .react-sanfona-item {
      border: 1px solid #BEC0D1 !important;
      position: relative;
    }

    .react-sanfona-item-body-wrapper {
      border: none !important;
    }

    .react-sanfona-item-title {
      position: relative;
    }

    .react-sanfona-item-title:after {
      transition: all 0.3s ease;
      position: absolute;
      content: url('./triangle-down.svg');
      right: 15px;
      top: 20px;
    }
  }

  .linkContainer {
    padding: 10px 0 8px 0;
  }

  .linkImg {
    width: 17%;
  }

  .linkName {
    width: 76%;
  }

  .section {    
    justify-content: left;
    align-items: center;
  }
}

:global {
  .react-sanfona {

    .react-sanfona-item {
      margin-bottom: 30px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }

      .react-sanfona-item-title {
        position: relative;
        border-radius: 4px;	
        background-color: #FFFFFF;	
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        color: #4D4C59;	
        font-family: Poppins;	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 24px;
        padding: 26px 52px 26px 32px;
        transition: all 0.3s ease;

        @media (max-width: 768px) {
          font-size: 13px;
          padding: 18px 45px 18px 15px;
        }

        &:after {
          transition: all 0.3s ease;
          position: absolute;
          content: url('./triangle-down.svg');
          right: 32px;
          top: 25px;
          
          @media (max-width: 768px) {
            right: 15px;
            top: 20px;
          }
        }
      }

      .react-sanfona-item-body-wrapper {
        color: #8B8C9A;
        font-family: Poppins;
        font-size: 14px;
        line-height: 22px;
        padding: 22px 32px;
        background: #FFF;
        border-top: 1px solid rgba(223, 224, 230, .55);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        border-radius: 0 0 4px 4px;

        @media (max-width: 768px) {
          padding: 15px;
          font-size: 13px;
        }

        p {
          margin: 0;
        }
      }
    }

    .react-sanfona-item-expanded {

      .react-sanfona-item-title {
        border-radius: 4px 4px 0 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
      
        &:after {
          content: url('./triangle-up.svg');
        }
      }
    }
  }
}