.container {
  min-height: 343px;
  background-color: #ffffff;
  padding-top: 74px;
}

.logo {
  width: auto;
  height: auto;
}

.title {
  font-weight: 600;
}

.text {
  font-weight: 400;
  line-height: 28px;
}