.container {
  padding: 65px 0 100px 0;
  background-color: #ffffff;
}

.logo {
  width: auto;
  height: auto;
}

.title {
  color: #8B8C9A;	
  font-family: Poppins;	
  font-size: 13px;	
  font-weight: 600;	
  line-height: 30px;
  margin-bottom: 10px;
}

.text {
  color: #8B8C9A;	
  font-family: Poppins;	
  font-size: 13px;	
  font-weight: 500;	
  line-height: 27px;
  margin: 0;
}