.content {
  background-color: #f6f7fa;
  padding-bottom: 40px;

  @media (max-width: 768px) {
    padding-bottom: 15px;
  }

  .title {
    margin: 50px 0 65px 0;

    @media (max-width: 768px) {
      margin: 35px 0;
    }
  }

  .boxIcon {
    border-radius: 2px 0 0 2px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    text-align: center;
    min-height: 100px;
    padding: 20px 0 15px 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
      border-radius: 4px 4px 0 0;
      border-bottom: 0.5px solid rgba(140, 160, 179, 0.3);
    }

    img {
      display: inline-block;
    }

    span {
      display: block;
      color: #787987;	
      font-family: Poppins;	
      font-size: 14px;	
      font-weight: 600;	
      line-height: 20px;
      margin-top: 8px;
    }
  }

  .boxText {
    border-radius: 0 2px 2px 0;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    border-left: 3px solid #F3123C;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 20px;

    @media (max-width: 768px) {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
      border-radius: 0 0 4px 4px;
      border: none;
      margin-bottom: 20px;
    }

    p {
      color: #8B8C9A;	
      font-family: Poppins;	
      font-size: 14px;	
      line-height: 18px;

      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}