.menu {
  z-index: 1;
  position: relative;
}

.transparent {
  background-color: transparent;
}

.dark {
  background-color: #42434B;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 83px;

  .logo {
    @media (max-width: 768px){
      max-width: 90px;
    }
  }

  .navagation {
    & > a {
      display: inline-block;
      transition: all 0.3s ease;
      color: white;
      font-size: 15px;
      line-height: 18px;
      padding: 0 25px;

      &:hover {
        opacity: .5;
      }

      @media (max-width: 768px){
        font-size: 14px;
        font-weight: 500;
        padding: 0 10px;
      }
    }
  }
}