.lettersTitle {
  color: #4D4C59;	
  font-family: Poppins;	
  font-size: 26px;	
  line-height: 36px;
  font-weight: 400;	
  text-align: center;
  margin: 50px 0;

  @media (max-width: 768px) {
    margin: 35px 0;
    font-size: 16px;
    line-height: 20px;
  }
}