@import '../../styles/base/extends';

.container {
  margin-bottom: 30px;
}

.lettersTitle {
  color: #4D4C59;	
  font-family: Poppins;	
  font-size: 26px;	
  line-height: 36px;
  font-weight: 400;	
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
}