.container {
  border-radius: 3px;	
  background-color: #FEFEFE;
  padding: 10px 15px;
  position: relative;
  transition: all 0.3s ease;
  height: auto;
  margin-bottom: 30px;

  .boxImage {
    text-align: center;
    min-height: 155px;

    img {
      max-width: 100%;
      display: inline-block;
    }
  }

  .name {
    color: #4D4C59;	
    font-family: Poppins;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 20px;
    margin: 15px 0 0 0;
  }

  .value {
    color: #8B8C9A;	
    font-family: Poppins;	
    font-size: 14px;	
    font-weight: 300;	
    line-height: 23px;
    margin: 5px 0 0 0;

    span {
      font-weight: 600;	
    }
  }
}
