.container {
  border-radius: 3px;	
  background-color: #FEFEFE;
  padding: 10px 15px;
  position: relative;
  transition: all 0.3s ease;
  height: auto;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }

  .boxImage {
    text-align: center;
    min-height: 155px;

    @media (max-width: 768px) {
      min-height: 80px;
    }

    img {
      max-width: 100%;
      display: inline-block;

      @media (max-width: 768px) {
        height: 125px;
      }
    }
  }

  .name {
    color: #4D4C59;	
    font-family: Poppins;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 20px;
    margin: 15px 0 0 0;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .value {
    color: #8B8C9A;	
    font-family: Poppins;	
    font-size: 14px;	
    font-weight: 100;	
    line-height: 23px;
    margin: 5px 0 0 0;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    span {
      font-weight: 600;	
    }
  }
}
