@import './configuration';
@import '../../styles/base/extends';

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  @extend .boxSizing;
  @extend .clearfix;
}

.content {
  @extend .container;
  padding: 0 $margin-gutter;
  margin-top: $margin-gutter;

  &:last-child {
    margin-bottom: $margin-gutter;
  }
}

.row {
  &.horizontalMargin > * {
    margin-bottom: $margin-gutter;
  }
}

.box {
  @extend .container;

  margin: $margin-gutter;
}

.col {
  overflow: visible !important;
}