.car {
  text-align: center;

  .picture {
    max-width: 100%;
    display: inline-block;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  .name {
    color: #8B8C99;
    font-family: Poppins;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;
    margin: 10px 0 0 0;
  }
}

:global {
  .slick-next:before, .slick-prev:before {
    opacity: 1 !important;
  }

  .slick-next:before {
    content: url('./arrow-right.svg');
  }
   
  .slick-prev:before {
    content: url('./arrow-left.svg');
  }

  .slick-next.slick-disabled:before {
    content: url('./arrow-right-disabled.svg');
  }
  .slick-prev.slick-disabled:before {
    content: url('./arrow-left-disabled.svg');
  }

  .slick-prev {
    left: 0;
    z-index: 1;
  }

  .slick-next {
    right: 0;
  }
}