.container {
  border-bottom: 1px solid rgba(223, 224, 230, .55);

  .title {
    color: #4D4C59;	
    font-family: Poppins;	
    font-size: 21px;	
    line-height: 27px;
    font-weight: 400;	
    text-align: center;
    padding: 50px 0;

    @media (max-width: 768px) {
      margin: 35px 0;
      font-size: 16px;
      line-height: 20px;
    }

    span {
      font-weight: 600;
    }
  }

  .text {	
    color: #8B8C9A;	
    font-family: Poppins;	
    font-size: 14px;	
    line-height: 22px;	
    text-align: center;
    margin: 20px 0 50px 0;
  }
}