:global {
  .slick-next {
    right: 0;
    transition: all 0.3s ease;
  }

  .slick-next:before {
    opacity: 1;
    content: url('./arrow-right-gray.svg');
    transition: all 0.3s ease;
  }

  .slick-next:hover:before {
    content: url('./arrow-right-red.svg');
  }
}