.container {
  background-color: #f6f7fa;
  
  .title {
    color: #4D4C59;	
    font-family: Poppins;	
    font-size: 21px;	
    line-height: 27px;
    font-weight: 300;	
    text-align: center;
    margin: 60px 0 50px 0;

    @media (max-width: 768px) {
      margin: 35px 0;
    }
  }
  
  .subTitle {
    color: #8B8C9A;
    font-family: Poppins;	
    font-size: 16px;	
    line-height: 22px;
    text-align: center;
    margin: 10px 0 60px 0;
  }

  .consortium {
    color: #FEC52A;	
    font-family: Poppins;	
    font-size: 14px;	
    font-weight: 500;
    
    img {
      margin-right: 10px;
      vertical-align: sub;
    }
  }

  .normal {
    label {
      color: #8B8C99;	
      font-family: Poppins;	
      font-size: 16px;	
      font-weight: 300;	
      line-height: 30px;
      display: block;
    }

    span {
      color: #4D4C59;	
      font-family: Poppins;	
      font-size: 32px;	
      font-weight: bold;	
      line-height: 36px;
    }
  }
  
  .flex {
    label {
      color: #8B8C99;	
      font-family: Poppins;	
      font-size: 16px;	
      font-weight: 300;	
      line-height: 30px;
      display: block;
    }

    span {
      color: #64BFA7;	
      font-family: Poppins;	
      font-size: 31px;	
      font-weight: 300;	
      line-height: 36px;
    }
  }

  .btn {
    padding: 13px 0;
    border-radius: 2px;	
    background-color: #F3123C;
    color: #FFFFFF;	
    font-family: Poppins;
    font-size: 13px;	
    line-height: 21px;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    width: calc(100% - 30px);
    
    &:hover {
      background-color: #f75977;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .text {	
    color: #787988;
    font-family: Poppins;
    font-size: 14px;	
    line-height: 19px;	
    margin: 0;
  }

  .suggestions {
    border-radius: 1px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    padding: 8px;
    color: #787987;	
    font-family: Poppins;	
    font-size: 13px;	
    line-height: 17px;
    margin-bottom: 40px;

    span {
      color: #53bccd;
    }
  }

  .textResult {
    color: #4D4C59;	
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-right: 30px;

    span {
      font-weight: 600;
    }

    .green {
      color: #53bccd;
    }

    .light{
      font-weight: 300;
      margin-left: 20px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}