.container {
  .title {
    margin: 60px 0 50px 0;

    @media (max-width: 768px) {
      margin: 35px 0;
    }
  }
  
  .subTitle {
    color: #8B8C9A;
    font-family: Poppins;	
    font-size: 16px;	
    line-height: 22px;
    text-align: center;
    margin: 10px 0 60px 0;
  }

  .consortium {
    color: #FEC52A;	
    font-family: Poppins;	
    font-size: 14px;	
    font-weight: 500;
    
    img {
      margin-right: 10px;
      vertical-align: sub;
    }
  }

  .normal {
    margin: 30px 0;

    label {
      color: #8B8C9A;
      font-family: Poppins;	
      font-size: 13px;	
      font-weight: 300;	
      line-height: 22px;
      display: block;
    }

    span {
      color: #4D4C59;	
      font-family: Poppins;	
      font-size: 21px;
      font-weight: 500;
      line-height: 27px;
    }
  }
  
  .flex {
    margin: 30px 0;

    label {
      color: #8B8C9A;
      font-family: Poppins;
      font-size: 13px;
      font-weight: 300;
      line-height: 22px;
      display: block;
    }

    span {
      color: #64BFA7;
      font-family: Poppins;
      font-size: 21px;
      font-weight: 500;
      line-height: 27px;
    }
  }

  .btn {
    padding: 13px 0;
    border-radius: 2px;	
    background-color: #F3123C;
    color: #FFFFFF;	
    font-family: Poppins;
    font-size: 13px;	
    line-height: 21px;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    width: calc(100% - 30px);
    
    &:hover {
      background-color: #f75977;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .separator {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    height: 4px;
    margin-top: -20px;
  }

  .text {	
    color: #787988;
    font-family: Poppins;
    font-size: 14px;	
    line-height: 19px;	
    margin: 0;
  }

  .suggestions {
    color: #8B8C99;	
    font-family: Poppins;	
    font-size: 13px;	
    font-weight: 300;
    line-height: 17px;
    margin: 45px 0;
    text-align: center;

    span {
      color: #43BCCD;
    }
  }

  .titleSuggestions {
    color: #4D4C59;
    font-family: Poppins;
    font-weight: 300;
    text-align: center;
    padding: 30px 50px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;

     span {
       font-weight: 500;
     }
  }

  .textResult {
    color: #8B8C99;	
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    padding-right: 30px;

    .green {
      font-size: 20px;
      color: #68C1A9;
      font-weight: 600;
    }

    .light{
      font-weight: 300;
      margin-left: 20px;
    }

    .large {
      font-size: 16px;
      color: #4D4C59;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .textResultSmall {
    color: #4A4A4A;	
    font-family: Poppins;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .info {
    vertical-align: sub;
    margin-left: 5px !important;
  }
}