.container {
  border-radius: 2px;	
  background-color: #FFFFFF;	
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  padding: 10px 30px 30px 30px;
}

.conditions {
  margin-top: 30px;
  display: block;
}

.button {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #F3123C;
  background-color: #F3123C;
  font-family: Poppins;
  font-size: 13px;
  cursor: pointer;
  margin-top: 50px;
}

.button:hover {
  background-color: #f75977;
}