.content {
  background-color: #f6f7fa;
  padding-bottom: 60px;

  @media (max-width: 768px) {
    padding-bottom: 15px;
  }

  .title {
    margin-top: 50px;
    margin-bottom: 65px;
  }

  .subTitle {
    color: #8B8C9A;	
    font-family: Poppins;	
    font-size: 16px;	
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-bottom: 65px;
  }
}

:global {
  .react-sanfona {

    .react-sanfona-item {
      position: relative;
      margin-bottom: 30px;
      border: none !important;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }

      .react-sanfona-item-title {
        position: relative;
        border-radius: 4px;	
        background-color: #FFFFFF;	
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        color: #4D4C59;	
        font-family: Poppins;	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 24px;
        padding: 26px 52px 26px 32px;
        transition: all 0.3s ease;

        @media (max-width: 768px) {
          font-size: 13px;
          padding: 18px 45px 18px 15px;
        }

        /* &:after {
          transition: all 0.3s ease;
          position: absolute;
          content: url('./triangle-down.svg');
          right: 32px;
          top: 25px;
          
          @media (max-width: 768px) {
            right: 15px;
            top: 20px;
          }
        } */
      }

      .react-sanfona-item-body-wrapper {
        color: #8B8C9A;
        font-family: Poppins;
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        padding: 22px 32px;
        background: #FFF;
        border-top: 1px solid rgba(223, 224, 230, .55);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        border-radius: 0 0 4px 4px;

        @media (max-width: 768px) {
          padding: 15px;
          font-size: 13px;
        }

        .question {
          padding-top: 20px;
          margin-bottom: 10px;
          font-weight: 400;
          color: #F3123C;
        } 
        .answer {
          margin-bottom: 10px;
        }

      }
    }

    .react-sanfona-item-expanded {

      .react-sanfona-item-title {
        border-radius: 4px 4px 0 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
      
        /* &:after {
          content: url('./triangle-up.svg');
        } */
      }
    }
  }
}