.container {
  height: 390px;
  width: 100%;
  text-align: center;

  .containerImg {
    position: relative;
    background-image: url('./bg-thumb-video.png');
    height: 100%;

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .play {
        cursor: pointer;
        transition: all 0.3s ease;
      
        &:hover {
          opacity: 0.8;
        }
      }
      
      .playTitle {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 26px;
        line-height: 45px;
        text-align: center;
      
        span {
          font-weight: 600;
        }
      }
    }
  }
}

