.simulateFast {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.title {
  color: #4D4C59;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  margin-bottom: 10px;
}

.titleXs {
  color: #4D4C59;
  font-family: Poppins;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 25px 0 25px 0;
  display: none;
}

.titleXsStrong {
  font-weight: 600;
}

.block {
  display: flex;
  width: 100%;
}

.block > div {
  width: 50%;
  text-align: center;
  position: relative;
  height: 44px;
  border: 1px solid #DFE0E6;
  border-radius: 2px 0 0 2px;
  font-family: Poppins;	
  font-size: 14px;
  font-weight: 500;	
  line-height: 44px;
  cursor: pointer;
}

.block > div:last-child {
  border-left: none;
}

.block > div:hover {
  opacity: .8;
}

.blockItemSelected {
  background-color: #43BCCD;
  color: #FFF;
}

.slider {
  padding-top: 10px;
  padding-left: 25px;
}

.sliderPadding {
  padding-top: 20px;
  padding-left: 25px;
}

@media(max-width: 750px) {
  .title {
    display: none;
  }

  .titleXs {
    display: block;
  }

  .slider {
    padding-left: 0px;
  }
} 