.simulateFast {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.title {
  color: #4D4C59;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  margin-bottom: 10px;
}

.titleXs {
  color: #4D4C59;
  font-family: Poppins;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 25px 0 25px 0;
  display: none;
}

.titleXsStrong {
  font-weight: 600;
}

.block {
  display: flex;
  width: 100%;
  margin-top: 8px;
}

.block > div {
  width: 50%;
  text-align: center;
  position: relative;
  height: 44px;
  border: 1px solid #DFE0E6;
  border-radius: 2px 0 0 2px;
  font-family: Poppins;	
  font-size: 13px;
  font-weight: 300;	
  line-height: 44px;
  cursor: pointer;
}

.block > div:last-child {
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.block > div:hover {
  opacity: .8;
}

.blockItemSelected {
  background-color: #43BCCD;
  border-color: #43BCCD !important;
  color: #FFF;
}

.slider {
  padding: 20px 20px 0 20px;
}

.button {	
  width: 100%;
  border: 1px solid #BEC0D1;
  border-radius: 2px;
  background-color: transparent;
  color: #8B8C99;
  font-family: Poppins;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 6px;
  padding: 13px 0;
}

.button:hover {
  background-color: #bec0d1;
  border-color: #bec0d1;
  color: #FFFFFF;
}

.buttonTitle {
  margin-top: 13px;
}

@media(max-width: 750px) {
  .button {
    width: 100%;
  }

  .title {
    display: none;
  }

  .titleXs {
    display: block;
  }

  .slider {
    padding-left: 0px;
  }
} 