@import "normalize.css/normalize.css";

body {
  margin: 0;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}