.container {
  background: #FFFFFF;
  padding-bottom: 50px;

  .title {
    color: #4D4C59;	
    font-family: Poppins;	
    font-size: 21px;	
    line-height: 27px;
    font-weight: 400;	
    text-align: center;
    margin: 55px 0;
  }

  .text {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;

    span {
      font-weight: 500;
    }
  }

  .textFeatured {
    color: #FF445A;
  }
}
