.hero {
  position: relative;
}

.thumbnail {
  max-width: 100%;
}

.gradient {
  background: #ccc;
  z-index: 1;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gradient,
.action {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.actionContent {
  position: relative;
  width: 100%;
  z-index: 3;

  & > *:first-child {
    cursor: pointer;
  }
}

.text {
  top: 100%;
  width: 100%;
}

.title,
.subTitle {
  margin: 10px 0 0;
  color: white;
  font-family: Poppins;	
  text-align: center;	
  text-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
}

.title {
  font-size: 32px;	
  font-weight: 600;	
  line-height: 53px;	
}

.subTitle {
  font-size: 21px;	
  line-height: 34px;	
}

.slider {
  margin-top: -83px;
  z-index: -1;
}
  
