:global {
  .slick-prev {
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .slick-prev:before {
    opacity: 1;
    content: url('./arrow-left-gray.svg');
    transition: all 0.3s ease;
  }

  .slick-prev:hover:before {
    content: url('./arrow-left-red.svg');
  }
}