:global {
  .slick-prev {
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .slick-prev:before {
    opacity: 1;
    content: url('./angle-left.png');
    transition: all 0.3s ease;
  }

  .slick-prev:hover:before {
    content: url('./angle-left-active.png');
  }
}