.container {
  background: #f6f7fa;
}

.button {	
  box-sizing: border-box;
  border: 1px solid #BEC0D1;
  border-radius: 2px;
  padding: 15px 45px 15px 45px;
  background-color: transparent;
  color: #8B8C99;
  font-family: Poppins;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #F3123C;
  border-color: #F3123C;
  color: #FFFFFF;
}

.buttonContainer {
  text-align: center;
  margin: 20px 0 50px 0; 
}