.title {
  margin: 55px 0;

  @media (max-width: 768px) {
    margin: 35px 0;
  }
}

.contentConsortium {
  padding-bottom: 40px;

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.contentBank {
  padding-bottom: 60px;
  background: #f6f7fa;
  
  @media (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.list {
  padding: 0;
  list-style: none;

  .listItem {
    margin-bottom: 20px;
    display: flex;

    p {
      margin: 0;
      font-family: Poppins;
      font-size: 14px;
      line-height: 20px;
      color: #8B8C9A;

      @media (max-width: 768px) {
        font-size: 13px;
      }

      span {
        font-weight: 600;
      }
    }

    

    img {
      vertical-align: sub;
      margin-right: 10px;
    }
  }
}

.imgBox {
  height: 100%;

  img {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 30px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      margin: 0;
    }
  }
}