.header {
  position: relative;
  z-index: 1;
  background-color: #f3123c;
}

.content {
  min-height: 45px;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 0;

    img {
      vertical-align: middle;
    }
  }
}
