.container {
  background-color: #42434B;
}

.content {
  display: flex;
  align-items: center;
  min-height: 73px;
  position: relative;
}
    
.text {
  color: #ffffff;
  font-size: 12px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  font-family: Poppins;
}

.company {
  color: #ffffff;
  text-align: right;
}
     
.companyImage {
  margin-left: 10px;
}

@media (max-width: 720px) {
  .company {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .companyName {
    display: none;
  }

  .companyImage {
    margin-left: -20px;
  }
}