.container {
  background-color: #4D4F58;    
}

.logo {
  display: flex;
  align-items: center;
  min-height: 83px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  height: 100%;
}

.navigation > a {
  display: inline-block;
  transition: all 0.3s ease;
  color: white;
  font-family: Poppins;	
  font-size: 13px;	
  font-weight: 500;
  line-height: 18px;
  padding: 0 10px;
  border-right: 1px solid #ffffff !important;
  text-decoration: none;
  text-align: center;
}

.navigation > a:hover {
  color: #F3123C;
}

.navigation > a:last-child {
  border-right: none !important;
}

.socialNetworks {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.socialNetwork {
  padding: 0 15px;

  &:last-child {
    padding-right: 0;
  }
}

@media (max-width: 720px) {
  .navigation {
    display: inline-block;
    padding: 0;
  }

  .navigation > a {
    padding: 0px;
    border: none !important;
    width: 45%;
    margin-bottom: 15px;
  }

  .socialNetworks {
    text-align: left;
    margin-bottom: 20px;
  }
}