.container {
  background-color: #4D4F58;    
}

.logo {
  display: flex;
  align-items: center;
  min-height: 83px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}

.navigation > a {
  display: inline-block;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
  line-height: 18px;
  padding: 0 20px;
  border-right: 1px solid #ffffff !important;
  text-decoration: none;  
}

.navigation > a:hover {
  color: #F3123C;
}

.navigation > a:last-child {
  border-right: none !important;
}

@media (max-width: 720px) {
  .navigation {
    display: inline-block;
    padding: 0;
  }

  .navigation > a {
    padding: 0px;
    border: none !important;
    width: 45%;
    margin-bottom: 15px;
  }
}

.socialNetworks {

}

.socialNetworksItem {

}